---
import '~styles/global.css'
---

<!doctype html>
<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta content={Astro.generator} name="generator" />
    <title>AlgoGenius</title>
  </head>
  <body class="bg-red-950 leading-snug text-gray-100">
    <div class="mx-auto flex max-w-200 flex-col gap-8 p-8">
      <slot />
    </div>
  </body>
</html>
